In [1]:
12312

12312

In [5]:
単_単 = 11

In [6]:
print(単_単)

11

In [7]:
()

()

In [8]:
(1, 2, 3)

(1, 2, 3)

In [10]:
tuple((1, 2, 3))

(1, 2, 3)

In [11]:
None

In [13]:
print(r"Startup studio\n")

Startup studio\n

In [14]:
print("Startup studio \n")

Startup studio

In [15]:
colleccion = ([], [])

In [17]:
colleccion[0].append(1)

In [18]:
colleccion

([1], [])

In [19]:
nombre = 'Joel Rivera'

In [23]:
nums = list(range(10))

In [24]:
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
nums[0:5]

[0, 1, 2, 3, 4]

In [27]:
nums[5]

5

In [28]:
import string

In [29]:
letters = list(string.ascii_letters)

In [30]:
letters

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [31]:
len(letters)

52

In [33]:
letters[:5]

['a', 'b', 'c', 'd', 'e']

In [37]:
letters[0: -2]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X']

In [41]:
letters[-1:0:-1]

['Z',
 'Y',
 'X',
 'W',
 'V',
 'U',
 'T',
 'S',
 'R',
 'Q',
 'P',
 'O',
 'N',
 'M',
 'L',
 'K',
 'J',
 'I',
 'H',
 'G',
 'F',
 'E',
 'D',
 'C',
 'B',
 'A',
 'z',
 'y',
 'x',
 'w',
 'v',
 'u',
 't',
 's',
 'r',
 'q',
 'p',
 'o',
 'n',
 'm',
 'l',
 'k',
 'j',
 'i',
 'h',
 'g',
 'f',
 'e',
 'd',
 'c',
 'b']

In [42]:
nombre = {}

In [45]:
t = (1, 0)

In [46]:
tupla_en_dict = {t: "Joel"}

In [49]:
tupla_en_dict[(1, 0)]

'Joel'

In [50]:
tupla_en_dict['nombre'] = "Joel"

In [51]:
tupla_en_dict

{(1, 0): 'Joel', 'nombre': 'Joel'}

In [52]:
tupla_en_dict[('a', 'b', 'c')] = 1

In [53]:
t == (1, 0)

True

In [54]:
t is (1, 0)

False

In [56]:
hash((1, 0))

3713081631936575706

In [57]:
hash(t)

3713081631936575706

In [58]:
tupla_en_dict

{(1, 0): 'Joel', ('a', 'b', 'c'): 1, 'nombre': 'Joel'}

In [63]:
None is tupla_en_dict.get('nomb')

True

In [65]:
tupla_en_dict.keys()

dict_keys([(1, 0), ('a', 'b', 'c'), 'nombre'])

In [66]:
tupla_en_dict.values()

dict_values(['Joel', 1, 'Joel'])

In [68]:
tupla_en_dict.g

In [69]:
11 / 2

5.5

In [71]:
divmod(11, 2)

(5, 1)

In [72]:
import decimal

In [73]:
11 * 2

22

In [76]:
'11' + '22'

'1122'

In [83]:
frutas = {'manzana': 1, 'pera': 2, 'fresa': 10, 'uva': 100}

for fruta, id_fruta in frutas.items():
    print(fruta, id_fruta)

uva 100
pera 2
manzana 1
fresa 10

In [87]:
tuple(frutas.items())

(('uva', 100), ('pera', 2), ('manzana', 1), ('fresa', 10))

In [88]:
del frutas['uva']

In [89]:
frutas

{'fresa': 10, 'manzana': 1, 'pera': 2}

In [94]:
import collections

In [95]:
d = collections.OrderedDict()

In [96]:
d['nombre'] = 'Joel'

In [97]:
d['edad'] = 28

In [98]:
for k in d:
    print(k)

nombre
edad